<ion-header>
  <ion-toolbar>
    <ion-title class="tamano" mode="ios"><h4>Usuarios</h4></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  class="cardconteudo">
    <ion-card-header>
      <ion-card-subtitle>Formulario de registro</ion-card-subtitle>
      <ion-card-title>Usuario</ion-card-title>
   </ion-card-header>
<form #formulario = "ngForm">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" 
                   name="nombre" 
                   [(ngModel)]="datos_usuario.nombre"
                   required
                   minlength= 4
                   maxlength= 15>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" 
                   name="apellido" 
                   [(ngModel)]="datos_usuario.apellido"
                   required
                   minlength= 4
                   maxlength= 20>
        </ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="4">
      <ion-item  > 
        <ion-label position="floating">RUT</ion-label>
        <ion-input type="number" 
                   name="rut"
                   placeholder="Ej: 11111111"
                   [(ngModel)]="datos_usuario.rut"
                   required
                   minlength= 7
                   maxlength= 8>
        </ion-input>
      </ion-item >
        </ion-col>
        <ion-col size="3" offset=""  align-self-center>
      <ion-item >
           <ion-label position="floating">DV</ion-label>
         <ion-input type="text" 
                   name="dv"
                  [(ngModel)]="datos_usuario.dv"
                  required
                  placeholder="1-k"
                  minlength= 1
                  maxlength= 1
                  pattern="^([0-9kK]{1,1})$"
                  >
        </ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="text" 
                   name="correo" 
                   [(ngModel)]="datos_usuario.correo"
                   required
                   minlength= 6
                   maxlength= 30
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"> 
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" 
                   name="password" 
                   [(ngModel)]="datos_usuario.password"
                   required
                   placeholder="Ingres 6 digitos"
                   minlength= 6
                   maxlength= 6> 
        </ion-input>
      </ion-item><br></form>
    
  </ion-card>
  <ion-button expand="block" 
              fill="outline" 
              color="dark" 
              (click)="enviarDatos()" 
              [disabled]= formulario.invalid
              >Registrar
  </ion-button>
  <ion-button routerLink="/inicio" 
              expand="block" 
              fill="outline" 
              color="dark"
              >Cancelar
  </ion-button>
<ion-fab vertical="bottom" slot="fixed" horizontal="end">
<ion-fab-button routerLink="/inicio" color="morado">
  <ion-icon name="home"></ion-icon>
</ion-fab-button>
</ion-fab>
  </ion-content>

