<ion-header>
  <ion-toolbar>
    <ion-title class="tamano" mode="ios">N° Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="morado" mode= "ios" *ngFor= "let dato_obtenido of datos_obtenidos" >
      <ion-card-header>
          <ion-card-title class="tamano"><ion-icon name="card"></ion-icon>
            Chofer:{{dato_obtenido.id_usuario?.nombre}} {{dato_obtenido.id_usuario?.apellido}} </ion-card-title>
       </ion-card-header>
      <ion-item>
        Nombre del cliente: {{dato_obtenido.nombre}}
      </ion-item>
      <ion-item>
        Direccion: {{dato_obtenido.direccion}}
      </ion-item>
      <ion-item >
          Destino: {{dato_obtenido.destino}}
      </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" slot="fixed" horizontal="end">
      <ion-fab-button routerLink="/inicio" color="morado">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
