
<ion-header>
  <ion-toolbar color="morado"> 
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="tamano" mode="ios">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="bg">
    <ion-item> <ion-icon slot="start" name="help-circle-outline"></ion-icon>
      <ion-card-header>
       
        <ion-card-subtitle>Formulario de Registros de Usuario y Peticiones del Cliente</ion-card-subtitle>

        <ion-card-title>Bienvenido</ion-card-title>
      </ion-card-header>    
    </ion-item>
      <ion-card-content>
        En esta aplicacion es para una empresa de Radio taxi, en esta
        plataforma se registren los datos del usuario y las peticiones del cliente
      </ion-card-content>
  </ion-card>

</ion-content>
