<ion-header>
  <ion-toolbar>
    <ion-title>registro-de-viajes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="cardconteudo">
      <ion-card-header>
          <ion-card-subtitle>Formulario de registro de viajes</ion-card-subtitle>
          <ion-card-title>Viajes</ion-card-title>
       </ion-card-header>
      <ion-card-content>
          <ion-item>
              <ion-label position="floating">Nombre del Cliente: </ion-label>
              <ion-input type="text" name="nombre_del_cliente" ></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Direccion: </ion-label>
              <ion-input type="text" name="direccion" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Destino: </ion-label>
            <ion-input type="text" name="destino" ></ion-input>
        </ion-item>
          <ion-item>
              <ion-select  placeholder="Seleccionar">
                  <ion-select-option>
                  </ion-select-option>
               </ion-select>
          </ion-item>
      </ion-card-content>
  </ion-card>
  <ion-button  expand="block"  fill="outline" color="dark" (click)="enviarEgreso()">Registrar</ion-button>
  <ion-button routerLink="/inicio" expand="block" fill="outline" color="dark">Cancelar</ion-button>
  <ion-fab vertical="bottom" slot="fixed" horizontal="end">
      <ion-fab-button routerLink="/inicio" color="morado">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
