<ion-menu  side="start" menuId="first" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="morado">
      <ion-title class="tamano">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngFor="let c of componentes | async" >
              <ion-item [routerLink]="c.direccion" detail>
        <ion-icon slot="start"   [name]="c.icon">
       </ion-icon>{{c.name}}
      </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>
